@font-face {
    font-family: SourceSansPro;
    src: url('./fonts/SourceSansPro-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased
}

body {
    font-family: SourceSansPro, Arial, Helvetica, sans-serif;
}